@{
    ViewData["Title"] = "List All URLs Page";
}

<p id="ez-text"> Check your console for a list of your link objects. </p>

<div id="list"> </div>

<script src="~/js/listAll.js" asp-append-version="true"></script>

